@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
    min-height: 100vh;
    background-image: linear-gradient(125deg, #b3c0d5, #88bc8f);
}

.error-container {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #4b6fa6;
}

.error-container h1{
    font-size: 190px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
    background: url("/images/white-gradient.jpg") center no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.error-container h2{
    font-size: 40px;
}

.error-container p{
    font-size: 35px;
}

.error-container a{
    opacity: 0.77;
    text-decoration: none;
    /*background: url("/images/green-white-gradient.jpg") center no-repeat;*/
    background: url("/images/dark-blue-marble-color-mix-closeup.jpg") center no-repeat;
    color: #ffffff;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 25px;
    font-size: 25px;
    text-transform: uppercase;
    transition: 0.4s !important;
}

.error-container a:hover{
    opacity: 1;
}
