@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    padding: 0;
}

ul li{
    list-style: none;
    margin-bottom: 25px;
}

.navigation-button{
    text-decoration: none;
    font-size: 20px;
    color:white;
    margin-left: 20px;
    border: 2px solid #ffffff82;
    background-color: #88bc8f;
    border-radius: 14px;
    padding: 8px;
    box-shadow: 0 8px #9999999e;
}

.navigation-button:hover{
    opacity:0.85;
}

.navigation-button:active {
    background-color: #629969;
    box-shadow: 0 4px #999999d1;
    transform: translateY(4px);
}

ul{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    margin-right: 50px;
}

header{
    background: linear-gradient(125deg, #b3c0d5, #d8e3da);
    display: flex;
    justify-content: space-around;
}

form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding-top: 30px;
}

input{
    margin-top: 10px;
    margin-bottom:10px;
}

.info{
    font-size: 24px;
    font-weight: bolder;
}

.submit{
    opacity: 0.85;
    width: 20%;
    margin: 30px auto;
    border: none;
    padding: 10px;
    background: url("/images/dark-blue-marble-color-mix-closeup.jpg") center no-repeat;
    color: #ffffff;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 25px;
    font-size: 25px;
    text-transform: uppercase;
}

.submit:hover {
    opacity: 1;
}

.student-grades{
    padding-top: 50px;
    margin: 0px auto;
}

.student-grades tr td{

}

.student-grades thead tr th{
    background-color: #b3c0d5;
    padding: 14px;
    letter-spacing: 2px;
    color: white;
    text-align: center;
}

table{
    border-spacing: 0;
}

.student-grades thead{
    background-color: grey;
}

.student-grades tbody tr td{
    background-color: #639b6a;
    letter-spacing: 1px;
    color: white;
    text-align: center;
}
/*.student-grades tbody tr:nth-last-child() td:nth-child(4){*/
/*    border-bottom-right-radius: 10px;*/
/*}*/

/*.student-grades tbody tr:nth-last-child() td:nth-child(1){*/
/*    border-bottom-left-radius: 10px;*/
/*}*/

.student{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.student li a{
    font-size: 24px;
}

main{
    height:1000px;
    margin:0;
    padding:0;
    background: linear-gradient(125deg, #ffffff, #4CAF50);
}

.record-field {
    font-size: 20px;
    color:white;
    border: 2px solid #ffffff82;
    background: linear-gradient(125deg, #b3c0d5, #d8e3da);
    border-radius: 14px;
    padding: 8px;
}

.input-field {
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 14px;
}

.input-field:focus {
    background: #dae4f2f2;
}

.select-field {
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 14px;
}