<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <title>Add student</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a th:class="navigation-button" th:href="@{/add-student}" class="add-student" style="background-color: white; color: #4b6fa6; border: none">Add Student</a>
                </li>
                <li>
                    <a th:class="navigation-button" th:href="@{/add-grades}">Add Grades</a>
                </li>
                <li>
                    <a th:class="navigation-button" th:href="@{/print-students-with-average-grade}">Print Students With Average Grade</a>
                </li>
                <li>
                    <a th:class="navigation-button" th:href="@{/write-to-file}">Write To File</a>
                </li>
                <li>
                    <a th:class="navigation-button" th:href="@{/read-from-file}">Read From File</a>
                </li>
                <li>
                    <a th:class="navigation-button" th:href="@{/sort-by-faculty-number}">Sort By Faculty Number</a>
                </li>
                <li>
                    <a th:class="navigation-button" th:href="@{/sort-by-average-grade}">Sort By Average Grade</a>
                </li>
                <li>
                    <a th:class="navigation-button" th:href="@{/get-student-record}">Get Student Record</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <form id="add_student_form" method="POST" th:object="${student}" th:action="@{/add-student}">
            <label class="info" for="first_name">Enter student's first name:</label>
            <input class="input-field" th:field="*{firstName}" name="first_name" id="first_name" type="text" placeholder="First name" autocomplete="off" required>

            <label class="info" for="last_name">Enter student's last name:</label>
            <input class="input-field" th:field="*{lastName}" name="last_name" id="last_name" type="text" placeholder="Last name" autocomplete="off" required>

            <label class="info" for="faculty_number">Enter student's faculty number:</label>
            <input class="input-field" th:field="*{facultyNumber}" name="faculty_number" id="faculty_number" type="number" min="1" placeholder="Faculty number" autocomplete="off" required>

            <label class="info" >Enter student's grades:</label>
            <input class="input-field" th:field="*{grades}" name="grades[]" type="text" placeholder="Grades" autocomplete="off" required>
<!--            <input class="input-field" th:field="*{grades}" name="grades[]" type="text" placeholder="Grades" autocomplete="off" >-->

            <input id="submit_button" class="submit" type="submit">
        </form>
    </main>
    <script type="text/javascript" src="/actions/student.js" defer></script>
</body>
</html>