<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Add grades</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a th:class="navigation-button" th:href="@{/add-student}" class="add-student">Add Student</a>
                </li>
                <li>
                    <a th:class="navigation-button" th:href="@{/add-grades}" style="background-color: white; color: #4b6fa6; border: none;">Add Grades</a>
                </li>
                <li>
                    <a th:class="navigation-button" th:href="@{/print-students-with-average-grade}">Print Students With Average Grade</a>
                </li>
                <li>
                    <a th:class="navigation-button" th:href="@{/write-to-file}">Write To File</a>
                </li>
                <li>
                    <a th:class="navigation-button" th:href="@{/read-from-file}">Read From File</a>
                </li>
                <li>
                    <a th:class="navigation-button" th:href="@{/sort-by-faculty-number}">Sort By Faculty Number</a>
                </li>
                <li>
                    <a th:class="navigation-button" th:href="@{/sort-by-average-grade}">Sort By Average Grade</a>
                </li>
                <li>
                    <a th:class="navigation-button" th:href="@{/get-student-record}">Get Student Record</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <form id="submit-form" method="POST" th:object="${importData}" th:action="@{/add-grades}">
            <label class="info" for="faculty_number">Select student:</label>
            <select class="select-field" th:field="*{facultyNumber}" name="faculty_number" id="faculty_number">
                <option th:selected="${student != null and student.getFacultyNumber() == currStudent.getFacultyNumber()}"
                        th:each="currStudent : ${students}"
                        th:value="${currStudent.getFacultyNumber()}"
                        th:text="${currStudent.getFirstName() + ' ' + currStudent.getLastName()}">
                </option>
            </select>

            <label class="info" for="additional-grade">Enter student's additional grade:</label>
            <input class="input-field" th:field="*{grade}" name="additional-grade" id="additional-grade"
                   type="number" placeholder="Additional grade" autocomplete="off" min="2" max="6" required>

            <input id="submit_button" class="submit" type="submit">
        </form>
    </main>
    <script type="text/javascript" src="/actions/student.js"></script>
</body>
</html>