<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <title>Get student record</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a th:class="navigation-button" th:href="@{/add-student}" class="add-student">Add Student</a>
                </li>
                <li>
                    <a th:class="navigation-button" th:href="@{/add-grades}">Add Grades</a>
                </li>
                <li>
                    <a th:class="navigation-button" th:href="@{/print-students-with-average-grade}">Print Students With Average Grade</a>
                </li>
                <li>
                    <a th:class="navigation-button" th:href="@{/index}">Write To File</a>
                </li>
                <li>
                    <a th:class="navigation-button" th:href="@{/read-from-file}">Read From File</a>
                </li>
                <li>
                    <a th:class="navigation-button" th:href="@{/sort-by-faculty-number}">Sort By Faculty Number</a>
                </li>
                <li>
                    <a th:class="navigation-button" th:href="@{/sort-by-average-grade}">Sort By Average Grade</a>
                </li>
                <li>
                    <a th:class="navigation-button" th:href="@{/get-student-record}"  style="background-color: white; color: #4b6fa6; border: none">Get Student Record</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <form id="my-form" name="my-form" action="GET" th:object="${student}" th:action="@{/get-student-record}">
            <input id="checker" name="checker" value="false" type="hidden">

            <label class="info" for="faculty_number">Select student:</label>
            <select class="select-field"  name="faculty_number" id="faculty_number">
                <option th:selected="${student != null and student.getFacultyNumber() == currStudent.getFacultyNumber()}"
                        th:each="currStudent : ${students}"
                        th:value="${currStudent.getFacultyNumber}"
                        th:text="${currStudent.getFirstName() + ' ' + currStudent.getLastName()}">
                </option>
            </select>
            <input id="submit_button" name="submit_button" class="submit" type="submit">
        </form>

        <tbody th:if="${student} != null">
            <th:block>
                <ul class="student">
                    <li>
                        <a class="record-field" th:text="${'First name: ' + student.firstName}"></a>
                    </li>
                    <li>
                        <a class="record-field" th:text="${'Last name: ' + student.lastName}"></a>
                    </li>
                    <li>
                        <a class="record-field" th:text="${'Faculty number: ' + student.facultyNumber}"></a>
                    </li>
                    <li>
                        <a class="record-field" th:text="${'Average grade: ' + #numbers.formatDecimal(student.averageGrade, 0, 'DEFAULT', 2, 'DEFAULT')}"></a>
                    </li>
                    <li>
                        <a class="record-field" th:text="${'Student grades: ' + student.grades}"></a>
                    </li>
                </ul>
            </th:block>
        </tbody>
    </main>
    <script type="text/javascript" src="/actions/student.js" defer></script>
</body>
</html>