<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <title>Students with average grade</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a th:class="navigation-button" th:href="@{/add-student}" class="add-student">Add Student</a>
                </li>
                <li>
                    <a th:class="navigation-button" th:href="@{/add-grades}">Add Grades</a>
                </li>
                <li>
                    <a th:class="navigation-button" th:href="@{/print-students-with-average-grade}"  style="background-color: white; color: #4b6fa6; border: none">Print Students With Average Grade</a>
                </li>
                <li>
                    <a th:class="navigation-button" th:href="@{/write-to-file}">Write To File</a>
                </li>
                <li>
                    <a th:class="navigation-button" th:href="@{/read-from-file}">Read From File</a>
                </li>
                <li>
                    <a th:class="navigation-button" th:href="@{/sort-by-faculty-number}">Sort By Faculty Number</a>
                </li>
                <li>
                    <a th:class="navigation-button" th:href="@{/sort-by-average-grade}">Sort By Average Grade</a>
                </li>
                <li>
                    <a th:class="navigation-button" th:href="@{/get-student-record}">Get Student Record</a>
                </li>
            </ul>
        </nav>
    </header>
    
    <main>
        <table class="student-grades">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Faculty Number</th>
                    <th>Average Grade</th>
                </tr>
            </thead>

            <tbody>
                <th:block th:each="student : ${students}">
                    <tr>
                        <td th:text="${student.firstName}"></td>
                        <td th:text="${student.lastName}"></td>
                        <td th:text="${student.facultyNumber}"></td>
                        <td th:text="${#numbers.formatDecimal(student.averageGrade, 0, 'DEFAULT', 2, 'DEFAULT')}"></td>
                    </tr>
                </th:block>
             </tbody>
        </table>
    </main>
</body>
</html>
